@font-face {
    font-family:'Grandstander Regular' ;
    src: url(Grandstander-Regular.ttf);
}

@font-face {
    font-family: 'Fontdiner Swanky Regular';
    src: url(fonts/FontdinerSwanky-Regular.ttf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4F3F3;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.carrusel {
    width: 430px;
    height: 190px;
    overflow: hidden; 
    margin: auto; 
}

.carrusel-contenedor {
    display: flex;
    gap: 7px; 
    animation: deslizar 10s infinite linear;
}

.carrusel-contenedor img {
    width: 250px;
    height: 180px;
    object-fit: cover; 
    border-radius: 8px;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-870px); 
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

.menu-principal {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0px auto 25px auto;
}

.botones-contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px; 
    padding: 10px 0;
}

.botones-contenedor a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.botones-contenedor a button {
    width: 100%;
}

.historia.active   { 
    background: #FFE683; }

.geografia.active  { 
    background: #5D95FE; }

.uva.active        { 
    background: #BC7FD0; }

.cultura.active    { 
    background: #E57070; }

.naturaleza.active { 
    background: #9FC97B; }

.lugares.active    { 
    background: #FBA417; }

button {
    font-family: 'Grandstander Regular', serif;
    background-color: white;
    border: 2px solid;
    border-radius: 50px;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


.historia { 
    border-color: #FFE683;
    rotate: -1deg;
 }
.geografia { 
    border-color: #5D95FE; 
    rotate: 2deg;
}
.uva { 
    border-color: #BC7FD0; 
    rotate: 3deg;
}
.cultura { 
    border-color: #E57070; 
    rotate: -0.5deg;
}
.naturaleza { 
    border-color: #9FC97B; 
    rotate: 1.2deg;
}
.lugares { 
    border-color: #FBA417; 
    rotate: 1.1deg;
}


@media (min-width: 360px) {
    .botones-contenedor {
        grid-template-columns: repeat(2, 1fr); 
    }
}

.encabezado-sitio {
    background-color: var(--color-base);
    text-align: center;
    padding: 25px 15px;
    margin-bottom: 25px;
    width: 100%;
    border: none; 
}

.titulo-principal {
    font-family: 'Fontdiner Swanky Regular', serif; 
    font-size: 1.8em;
    margin: 0;
    color: color-mix(in srgb, var(--color-base) 70%, black);
    font-weight: 800;
}

.banner {
    background: linear-gradient(to right, var(--gradien-inicio), var(--gradien-fin));
    text-align: center;
    padding: 18px 20px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
}

.banner-texto {
    font-family: 'Grandstander Regular', serif; 
    font-size: 1.1em;
    font-weight: 800;
    margin: 0px;
    color: black;
}

.tarjeta-info {
    font-family: 'Grandstander Regular', serif ;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

.tarjeta-header {
    padding: 10px;
}

.tarjeta-body {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.tarjeta-body.derecha {
    flex-direction: row;
}

.tarjeta-body.izquierda {
    flex-direction: row-reverse;
}

.tarjeta-body.arriba {
    flex-direction: column-reverse;
    align-items: center;
}

.tarjeta-contenido {
    flex: 1;
}

.img-tarjeta {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.footer-sitio {
    font-family: 'Grandstander Regular', serif;
    background-color: var(--color-base);
    text-align: center;
    padding: 25px 15px;
    width: 100%;
    border: none; 
}

.btn-inicio {
    background: linear-gradient(to right, var(--gradien-inicio), var(--gradien-fin)); 
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;      
    font-weight: bold;
}




